<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="scripts/loadPageDynamic.js"></script>
</head>
<body>
	<header>
		<!-- Placeholder for dynamically loaded content in the header -->
		<div id="headerContentPlaceholder">
			<!-- Content will be loaded here -->
		</div>
	</header>

	<main><br><br>
		<!-- Your main content goes here -->
		<div id="content" class="container" style="background-color: WhiteSmoke;">
			<h1>सेल्फकेयर एनजीओ की नियमावली</h1>
			<h4>कृपया सावधानी से पढ़ें</h4>
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<!--
					<h3>Column number 1</h3>  
					-->

						<p>
						<h2>
							<b>सवाल:</b> सेल्फकेयर टीम (SCT) क्या है?
						</h2>
						</p>
						<p>
						
							<b>उत्तर:</b>
						
						एक शहर में बहुत ही ज्ञानी प्रतापी साधु महाराज आये हुए थे, बहुत से
						दीन दुखी, परेशान लोग उनके पास उनकी कृपा दृष्टि पाने हेतु आने लगे.
						ऐसा ही एक दीन दुखी, गरीब आदमी उनके पास आया और साधु महाराज से बोला
						‘ महाराज में बहुत ही गरीब हूँ, मेरे ऊपर कर्जा भी है, मैं बहुत ही
						परेशान हूँ। मुझ पर कुछ उपकार करें’.
						</p>
						

						<p>
						<h2>
							<b>सवाल:</b> सेल्फकेयर टीम (SCT) से कौन जुड़ सकता है?
						</h2>
						</p>
						<p>
						
							<b>उत्तर:</b>
						
						साधु महाराज ने उसको एक चमकीला नीले रंग का पत्थर दिया, और कहा ‘कि
						यह कीमती पत्थर है, जाओ जितनी कीमत लगवा सको लगवा लो। वो आदमी वहां
						से चला गया और उसे बचने के इरादे से अपने जान पहचान वाले एक फल
						विक्रेता के पास गया और उस पत्थर को दिखाकर उसकी कीमत जाननी चाही।
						</p>
						

						<p>
						<h2>
							<b>सवाल:</b>सेल्फकेयर टीम (SCT) का उद्देश्य?
						</h2>
						</p>
						<p>
						
							<b>उत्तर:</b>
						
						फल विक्रेता बोला ‘मुझे लगता है ये नीला शीशा है, महात्मा ने तुम्हें
						ऐसे ही दे दिया है, हाँ यह सुन्दर और चमकदार दिखता है, तुम मुझे दे
						दो, इसके मैं तुम्हें 1000 रुपए दे दूंगा।
						</p>

					</div>
					<div class="col-sm-4">
						<!-- 
					<h3>Column number 2</h3>
					 -->
						<p>
						<h2>
							<b>सवाल:</b> सेल्फकेयर टीम (SCT) से कैसे जुड़ें?
						</h2>
						</p>
						<p>
							<b>उत्तर:</b> वो आदमी निराश होकर अपने एक अन्य जान पहचान वाले के
							पास गया जो की एक बर्तनों का व्यापारी था. उनसे उस व्यापारी को भी
							वो पत्थर दिखाया और उसे बचने के लिए उसकी कीमत जाननी चाही। बर्तनो
							का व्यापारी बोला ‘यह पत्थर कोई विशेष रत्न है में इसके तुम्हें
							10,000 रुपए दे दूंगा. वह आदमी सोचने लगा की इसके कीमत और भी अधिक
							होगी और यह सोच वो वहां से चला आया.
						</p>
						
						<p>
						<h2>
							<b>सवाल:</b> सेल्फकेयर टीम (SCT) के माध्यम से किसे आर्थिक सहायता
							मिलेगी ?
						</h2>
						</p>
						<p>
							<b>उत्तर:</b> उस आदमी ने इस पत्थर को अब एक सुनार को दिखाया, सुनार
							ने उस पत्थर को ध्यान से देखा और बोला ये काफी कीमती है इसके मैं
							तुम्हें 1,00,000 रूपये दे दूंगा।
						</p>
						<h2>
							<b>सवाल:</b> सेल्फकेयर टीम (SCT) से जुड़ने के बाद क्या करना है ?
						</h2>
						</p>
						<p>
							<b>उत्तर:</b> वो आदमी अब समझ गया था कि यह बहुत अमुल्य है, उसने
							सोचा क्यों न मैं इसे हीरे के व्यापारी को दिखाऊं, यह सोच वो शहर के
							सबसे बड़े हीरे के व्यापारी के पास गया।उस हीरे के व्यापारी ने जब वो
							पत्थर देखा तो देखता रह गया, चौकने वाले भाव उसके चेहरे पर दिखने
							लगे. उसने उस पत्थर को माथे से लगाया और और पुछा तुम यह कहा से लाये
							हो. यह तो अमुल्य है. यदि मैं अपनी पूरी सम्पति बेच दूँ तो भी इसकी
							कीमत नहीं चुका सकता.
						</p>

					</div>

					<div class="col-sm-4">
						<!-- <h3>Column number 3</h3>  -->
						<p>
						<h2>
							<b>सवाल:</b> सेल्फकेयर टीम (SCT) से जुड़ने के बाद क्या करना है ?
						</h2>
						</p>
						<p>
							<b>उत्तर:</b> वो आदमी अब समझ गया था कि यह बहुत अमुल्य है, उसने
							सोचा क्यों न मैं इसे हीरे के व्यापारी को दिखाऊं, यह सोच वो शहर के
							सबसे बड़े हीरे के व्यापारी के पास गया।उस हीरे के व्यापारी ने जब वो
							पत्थर देखा तो देखता रह गया, चौकने वाले भाव उसके चेहरे पर दिखने
							लगे. उसने उस पत्थर को माथे से लगाया और और पुछा तुम यह कहा से लाये
							हो. यह तो अमुल्य है. यदि मैं अपनी पूरी सम्पति बेच दूँ तो भी इसकी
							कीमत नहीं चुका सकता.
						</p>
						
						<p>
						<h2>
							<b>सवाल:</b> व्यस्था शुल्क ?
						</h2>
						</p>
						<p>
							<b>उत्तर:</b> कहानी से सीख | Learning From The Story हम अपने आप
							को कैसे आँकते हैं. क्या हम वो हैं जो राय दूसरे हमारे बारे में
							बनाते हैं. आपकी लाइफ अमूल्य है आपके जीवन का कोई मोल नहीं लगा
							सकता. आप वो कर सकते हैं जो आप अपने बारे में सोचते हैं. कभी भी
							दूसरों के नेगेटिव कमैंट्स से अपने आप को कम मत आकियें.
						</p>

						<p>
						<h2>
							<b>सवाल:</b> व्यस्था शुल्क ?
						</h2>
						</p>
						<p>
							<b>उत्तर:</b> कहानी से सीख | Learning From The Story हम अपने आप
							को कैसे आँकते हैं. क्या हम वो हैं जो राय दूसरे हमारे बारे में
							बनाते हैं. आपकी लाइफ अमूल्य है आपके जीवन का कोई मोल नहीं लगा
							सकता. आप वो कर सकते हैं जो आप अपने बारे में सोचते हैं. कभी भी
							दूसरों के नेगेटिव कमैंट्स से अपने आप को कम मत आकियें.
						</p>

					</div>
				</div>
			</div>
	</main>

	<!-- Link to trigger dynamic loading of header content -->
	<a href="/main-page" id="loadHeaderContent" style="display: none;"></a>


	<footer>
		<th:block th:include="footer"></th:block>
	</footer>
</body>
</html>