<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
<style>
#pfooter{
color: green;
}
</style>
<div style="background-color: #e7f2f8; text-align: center;" id="content">
	<div class="footer-content " >
		<div class="about-info">
			<p> <b style="color: blue;">हम क्या हैं:</b></p >
			<p id="pfooter" >हम एक गैर-लाभकारी संगठन हैं जो क्षमता निर्माण करता है हाशिए पर<br>
				रहने वाली महिलाओं के लिए सशक्तिकरण सुनिश्चित करने के लिए समुदायों का<br>
				और लड़कियाँ। स्वास्थ्य में हमारे स्थायी और समग्र हस्तक्षेप, आजीविका,<br>
				शिक्षा और आपदा राहत एवं लचीलापन, प्रदान करते हैं गहरी जड़ें जमा चुकी<br>
				विकास समस्याओं का नवोन्मेषी समाधान।</p>
		</div>
			<div class="social-links">
			<a href="https://www.facebook.com/YourPage" target="_blank">Facebook</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://twitter.com/YourTwitter" target="_blank">Twitter</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://wa.me/1234567890" target="_blank">WhatsApp</a>
		</div>
		
		<div class="contact-info">
			<p>Contact Us:</p>
			<p>Email: info@example.com</p>
			<p>Phone: +1234567890</p>
		</div>
	
	</div>
</div>
</body>
</html>