<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="scripts/loadPageDynamic.js"></script>
</head>
<body>

<header>
    <!-- Placeholder for dynamically loaded content in the header -->
    <div id="headerContentPlaceholder">
        <!-- Content will be loaded here -->
    </div>
</header>

<main>
    <!-- Your main content goes here -->
    <div id="content">helpline</div>
</main>

<!-- Link to trigger dynamic loading of header content -->
<a href="/main-page" id="loadHeaderContent" style="display:none;"></a>
<footer>
<th:block th:include="footer"></th:block>
</footer>
</body>
</html>